.elec-glblhd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  color: #e1261c;
  font-weight: 500;
}
.elec-glblhd a {
  display: flex;
  color: #e1261c;
  text-transform: uppercase;
  align-items: center;
}
.elec-glblhd a span {
  margin-left: 5px;
  color: #001d42;
  position: relative;
}
.elec-glblhd a span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #e1261c;
  bottom: -3px;
  left: 0;
}
.elecdots {
  content: "";
  background: #e1261c;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 5px;
  animation: lvdts 0.5s infinite;
}
.stel-zonewrap {
  margin-bottom: 30px;
}
.stel-zonearea {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 6px 6px 0px #d7d7d7;
  margin: 0 25px 0 0;
}
.stel-zoneareamap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stel-zoneareamap figure {
  width: 100px;
  line-height: 0;
  flex-shrink: 0;
}
.stel-zoneareamap figure img {
  width: 100%;
}
.stel-zoneareamapdetails {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.stel-zoneareamapdetails h3 {
  font-size: 20px;
  font-weight: bold;
  color: #e1261c;
  line-height: 18px;
}
.stel-zoneareamapdetails h3 span {
  display: block;
  color: #333;
  font-size: 11px;
  font-weight: normal;
}
.stel-zoneareamapdetails h4 {
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-size: 24px;
  color: #444;
  font-weight: bold;
  padding: 10px 5px;
  line-height: 22px;
  margin-top: 5px;
}
.stel-zoneareamapdetails h4 span {
  display: block;
  font-weight: normal;
  font-size: 10px;
  color: #555;
  line-height: 12px;
  margin-top: 5px;
}
.stel-zonearea ul {
  margin: 10px;
}
.stel-zonearea ul li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 12px;
}
.stel-zonearea ul li:before {
  left: 0;
  content: "";
  background: #0f162d;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.stel-zonearea ul li a {
  color: #001d42;
  font-size: 14px;
  padding: 2px 0;
  display: table;
  border-bottom: 1px solid;
}
.stel-zonearea ul li a:hover {
  color: #e1261c;
}
